* {
    margin: 0;
    padding: 0;
}

div {
    background-color: lightblue;
    background-color: rgb(0, 0, 255, .2);
    background-color: #0000f0;
    background-image: url("../images/image_1.jpg");

    /* default value : repeat */
    background-repeat : no-repeat;

    /* default value : scroll */
    /* background-attachment: fixed; */

    background-position: left center;
    /*background-position: x y;  */
    background-position: top left;

    background-size: 50% 50%;
    background-size: contain;

}